$winered: #5D0032;
$whitebg: #f0f0f0;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin spex-gradient {
  background: rgb(93,0,50); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(93,0,50,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(93,0,50,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(93,0,50,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(93,0,50,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(93,0,50,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(93,0,50,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d0032', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

@mixin spex-admin-gradient {
  background: rgb(93,40,50); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(93,40,50,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(93,40,50,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(93,40,50,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(93,40,50,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(93,40,50,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(93,40,50,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d2832', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.alert {
  /* display: none; */
}

.panel-primary {
  border: none;
  
  >.panel-heading {
    @include spex-gradient;
  }
}

.panel-heading {
  i.fa {
    margin-right: 10px;
  }
  .btn {
    margin-right: 10px;
  }
}

i.fa {
  color: white;
}

fieldset.login {
  margin-top: 10px;
  margin-bottom: 10px;
}

form.login {
  label {
    display: block;
  }
  input {
    display: block;
  }
  input[type="submit"] {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

body.login {
  .header {
    margin-bottom: 10px;
  }
  #main {
    .page-main {
      margin-top: 0px;
    }
  }
}

body.cookies {
  #main {
    .page-main {
      ul {
        margin-top: 10px;
      }
    }
  }
}

body {
  background-color: black;
  
  .paginator {
    text-align: left;
    ul {
      li {
        display: inline-block;
        padding: 20px;
      }
    }
  }
  
  .breadcrumb-container {
    padding-left: 0px;
  }
  .breadcrumb {
    background-color: black;
  }
   
  .flash {
    padding-left: 0px;
  }
  
  a {
    color: white;
  }
  
  .header {  
    color: white;
    @include spex-gradient;
    
    .site-title {
      font-size: 20px;
      margin-top: 10px;
    }
    
    .site-sub-title {
      margin-top: 15px;
      text-align: center;
    }
    
    .social {     
      > a {              
        margin-top: 5px;
        margin-left: 5px;
      }
    }
    
  }
  .bx-wrapper .bx-viewport {
    border: none;
    background-color: black;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
  
  .bx-pager-link.active {
    background-color: white !important;
  }
  
  .main-slider {     
    visibility: hidden; /* Becomes visible through js on DOMReady */
  
    .bx-caption {
      background: rgba(60, 60, 60, 0.5);
    }
    img {
      max-height: 200px;
    }
  }
  
  .menu {
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: rgba(100,100,100,0.5);
    @include border-radius(8px);
  }
  
  #main {
  
    margin-bottom: 20px;
    
    a {
      color: black;
      text-decoration: underline;
    }
    
    a.btn.btn-primary {
      color: white;
      text-decoration: none;
      
      i.fa {
        color: white;
      }
    }
    
    a.btn.btn-danger {
      color: white;
      text-decoration: none;
      
      i.fa {
        color: white;
      }
    }
    
    .btn-social {
      color: white;
      text-decoration: none;
    }
    
    h1 {
      border-bottom: 1px solid #c0c0c0;
    }
    
    .page-main {
      background-color: $whitebg;
      @include border-radius(4px);
      padding-top: 2px !important;
      padding-bottom: 20px;
      
      .spex-image-container {
        .poster-text {
          clear: both; float: right;
        }
      }
      
      i.fa {
        color: black;
      }
      
      .body-text {
        
      }
      
      .fb-like {
        float: right;
      }
      
      .alternative-title {
        font-weight: bold;
        padding: 10px;
      }
      
      .theme {
        font-weight: bold;
        padding: 10px;
      }
      
      .events {
        margin-top: 10px;
        
        .dates-title {
          font-weight: bold;
          padding: 10px;
        }
      }
      
      .spex-image {
        width: 100%;
        max-width: 200px;
        float: right;
      }
      
      .spex-alternative-image-container {
          display: none;
       }    
    }
    
    .spex-actions {
      margin-top: 20px;
      >div:nth-child(1) {
        padding-left: 0px;
        padding-right: 10px;
      }
      >div:nth-child(2) {
        padding-right: 10px;
      }
      >div:nth-child(3) {
        padding-right: 0px;
      }
      >div {      
        .panel {
          margin-left: 0px;
        }
      }
    }
    
    .page-news {
      @include border-radius(4px);
      margin-top: 20px;    
      padding-right: 0px;
      padding-left: 0px;   
      .date {}
      .headline {
        font-weight: bold;
        font-size: 14px;
      }
      .body {
        .read-more {
          display: block;
        }
      }      
    }
    
    .page-calendar {
      @include border-radius(4px);
      margin-top: 20px;    
      padding-left: 20px;
      padding-right: 0px;
      .date {}
      .headline {
        font-weight: bold;
        font-size: 14px;
      }
      .body {
        .read-more {
          display: block;
        }
      }      
    }
    
    .page-right {   
      .widget {
        margin-top: 0px;     
      }
      .widget.login {
        .social {
          margin-top: 10px;
        }
      }
      .widget.facebook-page {
        .post {
          font-size: 12px;
          margin-top: 2px;
          margin-bottom: 2px;
          padding: 5px;
          
          .read-more {
            display: block;
            font-weight: bold;
            text-align: left;
          }
          
        }
      }
    }
    
  }
  
  .footer {  

    color: white;
    @include spex-gradient;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    
    .footer0 {
      font-size: 11px;
      
      .title {
        font-size: 18px;
      }
      .cookies {
        margin-top: 55px;
      }
      
      .partner-title {
        text-decoration: none;
        font-size: 14px;
      }
      
      .quick-links {
        ul {
          margin: 0px;
          padding: 0px;
          
          li {
            list-style: none;
          }
        }
      }
          
    }
    
    .footer1 {
      border-top: 2px solid rgba(40,40,40,0.5);
      margin-top: 10px;
        
      .site-title {
        font-size: 20px;
        margin-top: 10px;
      }
      
      .partner {
        margin-left: 10px;
      }
      
      .social { 
        padding-left: 0px; 
        
        > a {              
          margin-top: 5px;
          margin-left: 5px;
        }
      }  
    }
    .footer2 {
      margin-top: 10px;    
    }
    
  }
  
  .copyright {
    text-align: center;
    margin-top: 10px;
  }
  
}

body.logged-in.admin {
  .header {
    @include spex-admin-gradient;
  }
  .footer {
    @include spex-admin-gradient;
  }
  .flash {
    padding-right: 0px;
  }
  #main {
    table {
      thead {
        tr {
          th {
            a {
              color: black;
              text-decoration: none;          
              i {
                color: black;
                text-decoration: none;
              }
            }
          }
        }
      }
      tbody {
        tr {
          td {
            span.yes {
              color: green;
              font-weight: bold;
            }
            span.no {
              color: red;
              font-weight: bold;
            }
          }
        }
      }
    }
    form {
      input {
        display: block;
      }
      textarea {
        display: block;
      }
      label {
        display: block;
        margin-top: 10px;
      }
      input[type="text"] {
        width: 100%;
        max-width: 800px;
      }
      input[type="submit"] {
        display: inline;
        margin-top: 10px;
      }
      input[type="reset"] {
        display: inline;
        margin-top: 10px;
      }
    }
  }
}

@media (min-width: 992px) {

  body.login {
    .flash {
      padding-right: 0px;
    }
  }

  body.logged-in {
    .widget.login {
      .panel-body {
        text-align: center;
        .logout {
          text-align: left;
          padding-left: 35px;
        }
      }
    }
  }

  body {
    .header {
      .social {
        padding-right: 50px;
        > a {
          float: right;
        }
      }
    }
    #main {

    }
    .footer {
      .footer1 {
        padding-top: 15px;
      }   
      .social {      
        text-align: center;
        > a {
          
        }
      }
    }
    .copyright {
      margin-top: 30px;
    }
  }  
}  

@media (min-width: 768px) {
  .navbar-brand {
    display: none;  
  }
}

@media (max-width: 991px) {
  body.logged-in.admin {
    #main {
      table {
        margin-left: -13px;
      }
    }
  }
  body.login {
    .flash {
      margin-top: 20px;
    }
  }
  body {  
    .breadcrumb-container {
      padding-right: 0px;
    }
    .header { 
      .site-sub-title {
        margin-top: 15px;
        text-align: left;
      }
    }  
    .flash {
      padding-right: 0px;
    }
    #main {
      margin-bottom: -10px;
      .page-main {
        margin-bottom: 20px;
        .body-text {
          padding-bottom: 20px; /* Due to facebook like buttons */     
          .fb-like {
          }
        }
      }
      .page-news {
        padding-right: 0px;
        padding-left: 0px;
        margin-top: 0px;
      }
      .page-calendar {
        padding-right: 0px;
        padding-left: 20px;
        margin-top: 0px;
      }
      .page-right {
        padding-right: 0px;
        padding-left: 0px;
      }
      .spex-actions {
        margin-top: 0px;
        >div:nth-child(1) {
          padding-left: 0px;
          padding-right: 10px;
        }
        >div:nth-child(2) {
          padding-right: 0px;
        }
        >div:nth-child(3) {
          padding-left: 0px;
          padding-right: 0px;
        }
        >div {      
          .panel {
            margin-left: 0px;
          }
        }
      }
    }
    .footer {  
      .title {
        margin-top: 10px;
      }
      .partner {
        margin-top: 10px;
      }
      .logo {
        display: none;
      }    
      .footer0 {
        font-size: 11px;
        .cookies {
          margin-top: 10px;
        }              
      }
      .footer1 {
        >div {
          text-align: center;
        }
        .social {
          margin-top: 10px;
          padding-left: 20px;
        }
      }
    }
  }
  
}

@media (max-width: 768px) {
  body {
    #main {
      .page-calendar {
        padding-left: 0px;
        
      }
      .spex-actions {
        margin-top: 0px;
        >div:nth-child(1) {
          padding-left: 0px;
          padding-right: 0px;
        }
        >div:nth-child(2) {
          padding-right: 0px;
          padding-left: 0px;
        }
        >div:nth-child(3) {
          padding-left: 0px;
          padding-right: 0px;
        }
        >div {      
          .panel {
            margin-left: 0px;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  body {
    #main {
      .page-main {
        .fb-like {
          margin-top: 10px;
        }
        .spex-content-container {
          width: 100%;
        }
        .spex-image-container {
          display: none;
        }
        .spex-alternative-image-container {
          display: block;
          text-align: center;
          
          .spex-image {
            margin-top: 10px;
            float: none;
          }
        }       
      }
    }
  }
}


@media (min-width: 768px) and (max-width: 991px) { 
  body {
    .navbar-nav {
      font-size: 13px;
    }
    .nav {
      >li {
        >a {
          padding-left: 8px; padding-right: 8px;
        }
      }
    } 
    .footer { 
      .footer1 {
        >div {
          text-align: left;
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) { 
}
